.divs_style1 {
    width: 100%;
    height: 50px;
    background-color: rgb(137, 255, 216);
}
.divs_style2 {
    width: 100%;
    height: 400px;
    background-color: rgb(137, 188, 255);
}
.divs_style3 {
    width: 100%;
    height: 50px;
    background-color: rgb(137, 255, 216);
}
.divs_style4 {
    width: 100%;
    height: 50px;
    background-color: rgb(163, 137, 255);
}